
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800,700italic,700,800italic,900,900italic,600italic,600,500italic,500,400italic,300italic,300,200italic,200,100italic,100);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic);


@charset "utf-8";
/*Table Of Contents

body
-header
-#main-slider
-#info
-.text_box
-#plans
-. content_left
-. content_right
-#facts
-.number-counters
-.counters-item 
-#grid_layout
-.cbp-item
-.cbp-lightbox
-.overlay
-#bg-video
-.video
-#team
-.team_wrap
-.image
-#parallax_one
-#parallax_two
-#news
-.news_wrap
-#blog
-.blog_item
-#faq
-.faq_content
-#partner
-footer
-.footer_top
-.footer_panel
-.copright

*/


/*General Styling*/

body{
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	color:#0f0f0f;
	position:relative;
}
body,html{
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}
ol, ul{
	margin:0;
	padding:0;
	list-style:none;
}
::-webkit-input-placeholder, .form-control::-webkit-input-placeholder{
   color:#606060;
}
:-moz-placeholder, .form-control:-moz-placeholder{ /* Firefox 18- */
   color:#606060;  
}
::-moz-placeholder, .form-control::-moz-placeholder{  /* Firefox 19+ */
   color:#606060;  
}
:-ms-input-placeholder, .form-control:-ms-input-placeholder{  
   color:#606060;  
}
textarea::-webkit-input-placeholder {
   color:#606060;
	opacity:1;
}
textarea:-moz-placeholder {
   color:#606060;
	opacity:1;
}
textarea::-moz-placeholder {
   color:#606060; 
	opacity:1;
}
textarea:-ms-input-placeholder {  
   color:#606060; 
	opacity:1;
}
textarea{
	resize:none;
	box-shadow:0 0;
}
label{
	font-weight:normal;
	margin-bottom:2px;
}
.form-control{
	box-shadow:0 0;
}
.form-control:focus, textarea:focus{
  border-color: #2E363A;
  box-shadow: 0 0;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn-group:not(:last-child) > .btn, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle){
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
a{
	color: inherit;
}
a, a:hover, a:focus{
	outline:none;
	text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
}
h2{
	font-size:32px;
}
h3{
	font-size:24px;
}
h4{
	font-size:20px;
}
p{
	font-size:14px;
	line-height:normal;
	color:#888888
}
.padding{
	padding-bottom:80px;
	padding-top:80px;
}
.padding-top{ padding-top:80px; }
.padding-bottom{ padding-bottom:80px; }
.padding-bottom-half{ padding-bottom:40px;}
.padding-top-half{padding-top:40px;}
.heading_space { margin-bottom:40px;}
.margin-bottom{
	margin-bottom:80px;
}
.bottom10{
	margin-bottom:10px;
}
.top10{
	margin-top:10px;
}
.bottom15{
	margin-bottom:15px;
}
.top15{
	margin-top:15px;
}
.top20{
	margin-top:20px;
}
.bottom20{
	margin-bottom:20px;
}
.bottom30{
	margin-bottom:30px;
}
.top30{
	margin-top:30px;
}
.margin_top{
	margin-top:90px;
}
.top40{
	margin-top:40px;
}
.bottom40{
	margin-bottom:40px;
}
.bottom0{
	margin-bottom:0;
}
.border_radius{
	border-radius:4px;
}
.light{
	background:#eaeaea;
}
.grey_light{
	background:#F7F7F7;
}
.blue_t{
	color:#019bb6;
}
.green_t{
	color:#73ae20;
}
.red_t{
	color:#ef233c;
}
.yellow_t{
	color:#ff9f1c;
}
.white_t{
	color:#fff;
}
.blue_bg{
	background:#019bb6;
}
.green_bg{
	background:#73ae20;
}
.red_bg{
	background:#ef233c;
}
.yellow_bg{
	background:#ff9f1c;
}
.heading{
	border-bottom:1px solid #444647;
	padding-bottom:6px;
}
.tagline{
	margin-left:10%;
	margin-right:10%;
}
.image{
	position:relative;
	overflow:hidden;
}
.image img{
	position:relative;
	width:100%;
	display:block;
}
h1,h2,h3, h4, .btn-border, .btn-green, .btn-white, .btn-yellow, .btn-dark, .readmore, .btn-border-white,
 nav.navbar.bootsnav ul.nav > li > a, .attr-nav .getquote, .testinomial_pic span.name, .pushmenu  ul > li > a,
 #clockdiv .count-inner > span{
	font-family: "raleway";
	font-weight:bold;
}


.image:hover img, #news_slider .item:hover img, .team_wrap:hover .image img,
.blog_item:hover .image img, .service_wrap:hover .image img{
	-moz-transform: scale3d(1.09, 1.1, 1);
	-ms-transform: scale3d(1.09, 1.1, 1);
	-o-transform: scale3d(1.09, 1.1, 1);
	-webkit-transform: scale3d(1.09, 1.1, 1);
  transform: scale3d(1.09, 1.1, 1);
}
blockquote {
  border-left-color: #019bb6;
  font-size:18px;
  color:#888888;
}


/* ---------------- Button ---------------- */
.btn-border, .btn-green, .btn-white, .btn-yellow, .btn-dark, .btn-border-white{
	display:inline-block;
	padding:9px 28px;
	font-size:13px;
	position:relative;
	overflow:hidden;
	z-index:1;
}
.btn-border{
	color:#222222;
	border:1px solid #222222;
}
.btn-green{
	background:#73ae20;
	border:1px solid #73ae20;
}
.btn-border-white{
	border:1px solid #fff
}
.btn-green, .btn-border-white{
	color:#fff;
}
.btn-green:before, .btn-border:before, .btn-dark:before, .btn-border-white:before{
  background:#019bb6;
  border:1px solid #019bb6;
}
.layout_second .btn-border:before{
  background:#F89714;
  border:1px solid #F89714 !important;
}
.layout_second .btn-border:hover{
	border-color:#F89714 !important;
}
.btn-white{
	background:#fff;
	color:#222222;
	border:1px solid fff;
}
.btn-white:before {
  background:#73ae20;
}
.layout_second .btn-white:before {
  background:#ff9f1c;
}
.btn-yellow{
	background:#ff9f1c;
	border:1px solid ff9f1c;
	color:#fff;
}
.btn-yellow:before{
	background:#ef233c;
	border-color:#ef233c;
}
.btn-dark{
	background:#2e363a;
	border:1px solid 2e363a;
}

.btn-white:before, .btn-green:before, .btn-border:before, .btn-yellow:before, .btn-dark:before, .btn-border-white:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width:100%;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  -moz-transform: scaleX(0);
  z-index: -1;
  opacity:0;
}
.btn-white:hover:before, .btn-green:hover:before, .btn-border:hover:before, 
.btn-yellow:hover:before, .btn-dark:hover:before, .btn-border-white:hover:before{
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  opacity:1;
}
.btn-white:hover, .btn-green:hover, .btn-border:hover, .btn-yellow:hover, .btn-border-white:hover{
  color:#fff;
}
.btn-white:hover {
  border-color:#73ae20;
}
.btn-green:hover, .btn-border:hover, .btn-dark:hover, .btn-border-white:hover{
  border-color:#019bb6;
}
.btn-yellow:hover{
	border-color:#ef233c;
}
.readmore{
	font-size:12px;
	display:inline-block;
}
.readmore > i{
	margin-right:5px;
	vertical-align:middle;
}
.cbp-popup-wrap {
  z-index: 19990;
}

/* ---------------- wigdet ----------------  */
aside{ border-left:1px solid #dfdfdf;}
ul.links{}	
ul.links li {
  display: inline-block;
  width: 49%;
  margin-bottom:20px;
}
ul.links li a, .footer_small .breadcrumb li a{ font-size:14px; }
ul.links li a > i{ margin-right:5px;}
ul.links li a:hover, ul.links li a:focus,
.footer_small .breadcrumb li a:hover, .footer_small .breadcrumb li a:focus{ color:#73ae20;}
.layout_second ul.links li a:hover, .layout_second ul.links li a:focus{ color:#ff9f1c;}

ul.social_icon{}	
ul.social_icon li a {
  border: 1px solid #7c7c7c;
  color: #0f0f0f;
  display: block;
  font-size:16px;
  height: 38px;
  line-height:38px;
  text-align: center;
  width: 38px;
  border-radius:4px;
  position:relative;
  margin-right:2px;
  z-index:1;
  padding:0;
}
ul.social_icon li a.facebook:after{ background:#3b5998;}
ul.social_icon li a.twitter:after{ background:#00aced;}
ul.social_icon li a.dribble:after{ background:#ea4c89;}
ul.social_icon li a.instagram:after{ background:#517fa4;}
ul.social_icon li a.vimo:after{ background:#4EBBFF; }
ul.social_icon li a:after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background:#f7c51e;
  transition:.4s;
  border-radius:4px;
  opacity: 0;
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  z-index:-1;
}
ul.social_icon li a:hover:after{
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	-webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
ul.social_icon li a:hover{ border-color:transparent; }
ul.top_social{ margin:0 15px 0 20px; }
.layout_first ul.top_social{ float:right; }
.layout_second ul.top_social{ margin-right:0;}
ul.top_social li a{
	font-size:16px;
	margin-left:3px;
}
ul.top_social li a.facebook:hover{
	color:#3b5998;
}
ul.top_social li a.twitter:hover{
	color:#00aced;
}
ul.top_social li a.google:hover{
	color:#DD4B39;
}
.layout_second ul.top_social li a{
	display:block;
	height:30px;
	width:30px;
	border-radius:50%;
	line-height:30px;
	text-align:center;
}
.layout_second ul.top_social li a.facebook:hover{
	color:#3b5998;background:#fff;
}
.layout_second ul.top_social li a.twitter:hover{
	color:#00aced; background:#fff;
}
.layout_second ul.top_social li a.google:hover{
	color:#DD4B39; background:#fff;
}


ul.top_social li, ul.top_social, .widget .tags > li, ul.comment li, .pager li, ul.social_icon li{ 
  display:inline-block; 
}
.widget .tags > li a {
  border: 1px solid #8f8f8f;
  color: #888888;
  display: block;
  font-size: 13px;
  margin-bottom: 2px;
  padding: 5px 9px;
}
.widget .tags > li a:hover, .widget .tags > li a:focus{
	border-color:#73ae20;
	color:#73ae20;
}
ul.comment{}
ul.comment li{ margin-left:15px;}
ul.comment li:first-child{ margin-left:0;}
ul.comment li a{
	color:#555555;
	font-size:12px;
	display:block;
}
ul.comment li a > i{ font-size:16px;}
.widget_search{ width:100%;}
.widget_search .form-control{ height:42px; }
.widget_search .input-group-addon {
  background: #2e363a;
  border: medium none;
  border-radius: 0;
  font-size:16px;
  margin: 5px;
  padding: 0 10px;
  cursor: pointer;
}

.category > li{ margin-bottom:10px; }
.category > li:last-child{ margin-bottom:0;}
.category > li a{
	display:block;
	color:#888888;
}
.category > li a:before{
	content:'\f105';
	display:inline-block;
	font-family:'FontAwesome';
	width:10px;
}

.single_post{ overflow:hidden; }
.single_post .post , .single_post .text{ display: table-cell;}
.single_post a{ font-weight:600;}
.single_post p{
	margin-bottom:0;
	font-size:12px;
}
.single_post .text{
  vertical-align: middle;
  padding-left:10px;
}
.single_post .text a:hover, .single_post .text a:focus{
	color:#73AE20;
}
/*Pagination*/
.pager{ margin:0;}
.pager li > a{
	display:block;
	border:1px solid #a2a2a2;
	border-radius:50%;
	height:38px;
	width:38px;
	padding:0;
	line-height:36px;
}
.pager li > a:hover, .pager li > a:focus, .pager li.active > a:hover{
	background:#73ae20;
	border-color:#73ae20;
}
.pager li > a:hover, .pager li > a:focus, .pager li.active > a:hover,
.pager li.active > a, .widget_search .input-group-addon, ul.top_social li a, ul.social_icon li a:hover,
ul.social_icon li a:after, ul.links li a, .footer_small .breadcrumb li a{
	color:#fff;
}
.pager li.active > a{
	background:#019bb6;
	border-color:#019bb6;
}

/*Accordions*/
.accordion-container{
  position: relative;
  width:100%;
  height: auto;
}
.accordion_title{
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom:10px;
}
.accordion_title > a{
  display: block;
  padding:20px 15px;
  text-decoration: none;
  font-size:18px;
  font-weight:600;
  border: 1px solid #d9d9d9;
  -webkit-transition:all 0.2s linear;
  -moz-transition:all 0.2s linear;
  transition:all 0.2s linear;
}
.accordion_title > a i{
  position:relative;
  float: right;
  margin-top:4px;
}
.accordion_title > a.active, .accordion_title > a:hover, .accordion_title > a:focus{
  color: #019bb6;
  margin-bottom:0;
}
.accordion_title > a.active i{
  color: #019bb6;
}
.content{
  position:relative;
  width: 100%;
  height: auto;
  padding:20px 15px;
  border: 1px solid #d9d9d9;
  border-top:none;
  display:none;
}

/*Overlays*/
.overlay{
	height:100%;
	width:100%;
	top:0;
	bottom:0;
	background:rgba(1,155,182, .8);
	-moz-transform:scaleX(0);
	-ms-transform:scaleX(0);
	-o-transform:scaleX(0);
	-webkit-transform:scaleX(0);
	transform:scaleX(0);
	transition-duration:.7s;
}
.layout_second .overlay{
	background:rgba(239,35,67, .8);
}
.overlay.white{
	background:rgba(255,255,255, .8);
}
.service_wrap .overlay, #layout-project .overlay{
	background:rgba(115,174,32, .8);
}
.overlay, .overlay .overlay_inner, .overlay .overlay_center{
	position:absolute;
}
.overlay .overlay_inner{
	padding:15px;
	display:inline-block;
	bottom:0;
}
.overlay .overlay_inner h4{
	font-size:18px;
}
.overlay .overlay_inner h4, .overlay .overlay_inner p{
	color:#fff;
}
.overlay .overlay_inner p{ font-size:14px;}
.overlay.white .overlay_inner h4{ color:#019BB6; }
.overlay.white .overlay_inner p{ color:#767676;}
.overlay .overlay_center{
	left:50%;
	top:50%;
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
}
.overlay a.overlay_center{
	padding:5px 10px;
	background:#fff;
	color:#1f1f1f;
	font-size:20px;
}
.overlay a.overlay_center:hover, .overlay a.overlay_center:focus{
	background:#019bb6;
	color:#fff;
}
.cbp-item:hover .overlay, .service_wrap:hover .overlay{
	-moz-transform:scaleX(1);
	-ms-transform:scaleX(1);
	-o-transform:scaleX(1);
	-webkit-transform:scaleX(1);
	transform:scaleX(1);
}

a.back-to{
  background: #575757;
  border-radius:50%;
  bottom: 60px;
  display: none;
  height: 40px;
  line-height:40px;
  position: fixed;
  right: 20px;
  text-align: center;
  width: 40px;
  z-index: 999;
  font-size: 20px;
  color: #fff;
}
a.back-to:hover, a.back-to:focus{ background:#73ae20;}
.layout_second a.back-to:hover, .layout_second a.back-to:focus{ background:#FF9F1C;}

.btn-white:before, .btn-green:before, .btn-border:before, .btn-yellow:before, .btn-dark:before, .btn-border-white:before,
 header, .navbar-brand > img, .topbar, .attr-nav, .sticked, .sticked.navbar-brand, 
 #layout_bottom, nav.navbar.bootsnav ul.nav > li > a.border:before,
.info .icon_box, .team_wrap .image .list_content,
a, .image, .owl-controls .owl-page span, .layout_first, #quality .right .media-object, .overlay,
.contact .address span, .image img, .services ul.tabs li, #project-filter .cbp-filter-item:after,
#menu_bars span, #menu_bars.active, .pushmenu, .pushmenu-push, .team_wrap .team_overlay{
  -moz-transition:all .3s ease-in-out;
  -ms-transition:all .3s ease-in-out;
  -o-transition:all .3s ease-in-out;
 -webkit-transition:all .3s ease-in-out;
}





/* ----------------- HEADER -----------------*/ 
.layout_first, .layout_sixth{
  background:transparent;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 1100;
  margin:auto;
  top: 40px;
}
.layout_first.stick, .layout_sixth.stick, #layout_bottom.stick{
	position:fixed;
	z-index:11000;
	top:0;
	width:100%;
	background:#fff;
}
#layout_bottom.stick{ bottom:auto;}
nav.navbar.bootsnav, .layout_first.stick, header.layout_forth, header.layout_second,
.layout_sixth.stick{
  box-shadow: 0 2px 3px -3px rgba(0, 0, 0, 0.35);
}
header.layout_second, .layout_second nav.navbar.bootsnav{
	background:#2b2d42;
}
.layout_dark, .layout_dark nav.navbar.bootsnav{
	background:#2e363a;
}
 .layout_first nav.navbar.bootsnav{
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
} 
header.layout_forth{ background:#fff;}
.navbar-brand{
  font-size: inherit;
  height: auto;
  line-height: normal;
  padding:14px 0;
}
.layout_first .navbar-brand{ padding:18px 0; }
#layout_bottom  .navbar-brand { padding:8px 0;}
.layout_sixth  .navbar-brand , layout_transparent nav.navbar.bootsnav.navbar-fixed .navbar-brand{
	padding:10px 0;
}
.layout_transparent nav.navbar.bootsnav.navbar-fixed.no-background .navbar-brand > img{
	width:100%;
}
header.layout_fifth nav.bootsnav.brand-center .navbar-brand {
  display: inline-block;
  float: none;
  padding: 10px 0;
}
.layout_first .navbar-nav{ margin-top: 40px;}
nav.navbar.bootsnav{
  border:none;
  z-index: 999;
}
nav.navbar.bootsnav .navbar-header{
  padding-left:15px;
  padding-right:15px;
}
.topbar{
  color: #fff;
  padding:5px 0;
}
.layout_first .topbar{
  position: absolute;
  right:15px;
  top: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 5px;
}
.topbar .call{ display:inline-block; font-size:13px;}
.layout_first .topbar .call{ padding:0 25px;}
nav.navbar.bootsnav ul.nav > li{
  margin: 0 18px;
}
nav.navbar.bootsnav ul.nav > li > a{
	font-size:13px;
	text-transform:uppercase;
	position:relative;
	color:#000000;
	padding:34px 12px;
}
.layout_first nav.navbar.bootsnav ul.nav > li > a{
	padding:20px 0;
}
.layout_sixth nav.navbar.bootsnav ul.nav > li > a {
  padding: 23px 10px;
}
#layout_bottom  nav.navbar.bootsnav ul.nav > li > a{
	padding:30px 5px;
}
.layout_second nav.navbar.bootsnav ul.nav > li > a, .layout_dark nav.navbar.bootsnav ul.nav > li > a{
	color:#fff;
}
header.layout_fifth nav.navbar.bootsnav ul.nav > li > a:hover, 
header.layout_fifth nav.navbar.bootsnav ul.nav > li > a:focus,
header.layout_fifth nav.navbar.bootsnav ul.nav > li.active > a{
	color:#8ac832;
}
nav.navbar.bootsnav ul.nav > li.dropdown > .dropdown-toggle:hover,
nav.navbar.bootsnav ul.nav > li.dropdown.on > .dropdown-toggle{
	color:#73AE20;
}
.layout_second nav.navbar.bootsnav ul.nav > li.dropdown > .dropdown-toggle:hover,
.layout_second nav.navbar.bootsnav ul.nav > li.dropdown.on > .dropdown-toggle{
	color:#F89714;
}
nav.navbar.bootsnav ul.nav > li.dropdown .dropdown-menu .dropdown-toggle:hover,
nav.navbar.bootsnav ul.nav .dropdown-menu  li.dropdown.on .dropdown-toggle{
	color:#fff;
	background:#019BB6;
}
.layout_second nav.navbar.bootsnav ul.nav > li.dropdown .dropdown-menu .dropdown-toggle:hover,
.layout_second nav.navbar.bootsnav ul.nav .dropdown-menu  li.dropdown.on .dropdown-toggle{
	color:#fff;
	background:#EF233C;
}

nav.navbar.bootsnav ul.nav > li > a.border:before{
	content:'';
	height:3px;
	left:-3px;
	right:0;
	position:absolute;
	bottom:0;
	background:#73ae20;
	width:0;
}
.layout_first nav.navbar.bootsnav ul.nav > li > a.border:before{
	background:#019bb6;
}
.layout_second nav.navbar.bootsnav ul.nav > li > a.border:before{
	background:#EF233C;
}
nav.navbar.bootsnav ul.nav > li > a.border:hover::before,
nav.navbar.bootsnav ul.nav > li.active > a.border:before{
	width:100%;
}
.layout_first .attr-nav, .layout_dark .attr-nav{
	top: 47px;
}
.attr-nav {
  margin:0 0 0 13px;
  position: relative;
}
.layout_first .attr-nav{
	margin-right:15px;
}
.layout_second .attr-nav{
	margin-top:23px;
}
#layout_bottom .attr-nav{
	margin-bottom:20px;
	margin-top:20px;
	margin-left:15px;
}
.layout_sixth .attr-nav .getquote{
	display:none;
}
.attr-nav .getquote{
	display:inline-block;
	padding:12px 25px;
	color:#fff;
	font-size:13px;
}
nav.navbar.bootsnav .navbar-toggle {
  background-color: transparent !important;
  float: right;
  font-size:2rem;
  margin: 0;
  margin-top:-5px;
  -moz-transform:translateY(50%);
  -ms-transform:translateY(50%);
  -o-transform:translateY(50%);
  -webkit-transform:translateY(50%);
  transform:translateY(50%);
}
.layout_second nav.navbar.bootsnav .navbar-toggle{
	color:#ff9f1c;
}
.navbar.bootsnav .navbar-toggle{
	color:#73ae20;
}
header.layout_fifth .brand-center.no-background{
	padding-top:40px;
}
.brand-center.navbar-fixed{
}

/*Sticky Nav*/
.layout_second nav.navbar.bootsnav.sticked .navbar-nav,
.layout_dark nav.navbar.bootsnav.sticked .navbar-nav,
.layout_first.stick nav.navbar.bootsnav .navbar-nav{
	margin-top:0;
}
.layout_second nav.navbar.bootsnav.sticked .navbar-brand,
.layout_dark nav.navbar.bootsnav.sticked .navbar-brand,
.layout_first.stick nav.navbar.bootsnav  .navbar-brand,
.layout_transparent nav.navbar.bootsnav.navbar-fixed .navbar-brand{
	padding:7px 0;
}
.layout_second nav.navbar.bootsnav.sticked .navbar-brand > img,
.layout_dark nav.navbar.bootsnav.sticked .navbar-brand > img,
.layout_first.stick nav.navbar.bootsnav .navbar-brand > img,
.layout_sixth nav.navbar.bootsnav .navbar-brand > img{
	width:75%;
}
.layout_transparent nav.navbar.bootsnav.navbar-fixed .navbar-brand > img{
	width:75%;
}
nav.navbar.bootsnav.sticked ul.nav > li > a{
	padding:20px 14px;
}
.layout_transparent nav.navbar.bootsnav.navbar-fixed ul.nav > li > a{
	padding:23px 14px;
}
.layout_second nav.navbar.bootsnav.sticked .attr-nav, .layout_second nav.navbar.bootsnav.sticked .topbar,
.layout_dark nav.navbar.bootsnav.sticked .attr-nav, .layout_dark nav.navbar.bootsnav.sticked .topbar,
.layout_first.stick nav.navbar.bootsnav .topbar,
.layout_first.stick nav.navbar.bootsnav .attr-nav{
	display:none;
}

/*Push Menu*/
/*Toggle*/
#menu_bars{
  padding:15px;
  border-radius:4px;
  cursor: pointer;
  display:table; 
  position:fixed;
  z-index:1102;
  background:#fff;
  top:20px;
}
#menu_bars.left{
	left:30px;
}
#menu_bars.right{
	right:30px;
}
#menu_bars.left.active{
	left:220px;
}
#menu_bars.right.active{
	right:220px;
}
#menu_bars.active span.t1{
	-moz-transform: translateY(5px) rotate(-45deg);
	-ms-transform: translateY(5px) rotate(-45deg);
	-o-transform: translateY(5px) rotate(-45deg);
	-webkit-transform: translateY(5px) rotate(-45deg);
  transform: translateY(5px) rotate(-45deg);
}
#menu_bars.active span.t2{
  opacity: 0;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#menu_bars.active span.t3{
	-moz-transform: translateY(-5px) rotate(-135deg);
	-ms-transform: translateY(-5px) rotate(-135deg);
	-o-transform: translateY(-5px) rotate(-135deg);
	-webkit-transform: translateY(-5px) rotate(-135deg);
  transform: translateY(-5px) rotate(-135deg);
}
#menu_bars span {
  background: #000;
  display: block;
  height:2px;
  -moz-transition:all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  width:20px;
  pointer-events: none;
}
#menu_bars span.t2{
	margin: 3px 0;
}

/*this is the nav*/
.pushmenu-push{
  overflow-x: hidden;
  position: relative;
  left: 0;
}
.pushmenu{ 
  background: #fff;
  padding:20px 15px;
  border-top:5px solid #8ac832;
  width: 270px;
  height: 100%;
  top: 0;
  z-index: 1100;
  position:fixed;
  overflow:hidden;
}
.pushmenu-left{
  left: -270px;
}
.pushmenu-left.pushmenu-open{
  left: 0;
  box-shadow:3px 0 3px -3px #c2c2c2;
}
.pushmenu-push-toright{
  left: 270px;
}
.pushmenu-right{
	right: -270px;
}
.pushmenu-right.pushmenu-open{
  right: 0;
}
.pushmenu-push-toleft{
  left: -270px;
}
.pushmenu .push-logo{
	display:block;
	padding:34px 0;
	text-align:center;
}
.pushmenu .push-logo > img{
	display:inline-block;
}
.pushmenu  .push_nav > li{
	display:block;
}
.pushmenu  .push_nav > li > a{
	font-size:14px;
	padding:20px 0; 
	display:block;
	text-align:center;
	text-transform:uppercase;
	position:relative;
	color:#000000;
}
.pushmenu .push_nav > li > a:hover, .pushmenu  .push_nav > li > a:focus, 
.pushmenu  .push_nav > li.active > a,
#layout_bottom  nav.navbar.bootsnav ul.nav > li > a:hover,
#layout_bottom  nav.navbar.bootsnav ul.nav > li > a:focus,
#layout_bottom  nav.navbar.bootsnav ul.nav > li.active > a{
	color:#73ae20;
}

/* Bottom fixed Menu */
#layout_bottom{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index:11111;
}
.fixed {
  position: fixed;
  top: 0;
  z-index:11111;
}

/*Dropdowns*/ 
.dropdown-menu.animated, .collapse navbar-collapse .animated{
	-webkit-animation-duration:.5s;
	-o-animation-duration:.5s;
	animation-duration:.5s;
}
nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown > a.dropdown-toggle::before {
  content: "\f105";
  font-family:'FontAwesome';
  float: right;
}
nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a {
  text-align: left;
}                                             
.dropdown-menu{
	border-top:5px solid #00abc9 !important;
}
.layout_second .dropdown-menu{
	border-top:5px solid #EF233C !important;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a,
nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu > li > a{
  color: #000;
  padding:10px 15px;
  font-size: 14px;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a:hover,
nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a:focus,
nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu > li > a:hover,
nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu > li > a:focus{
	background:#019BB6;
	color:#fff;
}
.layout_second nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a:hover,
.layout_second nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a:focus,
.layout_second nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu > li > a:hover,
.layout_second nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu > li > a:focus{
	background:#EF233C;
	color:#fff;
}

/* ----------------- HEADER ----------------- */



/* ----------------- Revolution Slider ----------------- */
.rev_slider h1{
	font-size:48px;
	font-family: "raleway";
	font-weight:300;
}
.rev_slider h1 > strong{
	font-weight:bold !important;
}
#rev_slider_second p, .rev_slider p{
	font-size:18px;
	line-height:normal !important;
	color:#0f0f0f;
}
.rev_slider p.white_t {
  color: #fff;
}
#rev_slider_second a, .rev_slider a{
	font-weight:bold !important;
	border-width:1px !important;
	margin-right:10px;
}
#rev_slider_second  h1{
	font-family: "raleway";
	font-size:42px;
	font-weight:bold;
}
#rev_slider_second  h3{
	color:#979696;
	font-size:26px;
}

/*arrows Slider*/
#rev_slider_second .tparrows{
  background:transparent !important;
  -webkit-border-radius:100%;
  transform:none;
  position:absolute;
  right:0;
  height:60px;
  width:60px;
}
.tparrows::before {
  display: block;
  font-family:'FontAwesome';
  font-size:30px;
  text-align: center;
}
#rev_slider_second .tparrows::before{
	color: #2e363a;
	line-height:55px;
}
#rev_slider_second .tparrows.tp-leftarrow:before {
  content: "\f177";
}
#rev_slider_second .tparrows.tp-rightarrow:before {
  content: "\f178";
}
#rev_slider_second .tp-leftarrow, #rev_slider_second .tp-rightarrow{ margin:5px;}
#rev_slider_second .tparrows:hover::before, #rev_slider_second .tparrows:focus::before{
	color:#FF9F1C;
}
.tparrows.tp-rightarrow::before { content: "\f105";}
.tparrows.tp-leftarrow::before { content: "\f104";}

#rev_slider_second .btn-border:before{ background:#EF233C; }
#rev_slider_second .btn-border:hover, #rev_slider_second .btn-border:before{
	border-color:#EF233C !important;
}


/* ----------------- Revolution Slider ends ----------------- */




/* ----------------- Iconic Text Box  ----------------- */
#info .text_box span, #info .text_box span.fill{
  display:inline-block;
  border-radius:50%;
  height:90px;
  width:90px;
  text-align:center;
  line-height:86px;
  font-size:34px;
  margin-bottom:15px;
}
#info .text_box:hover span, #info .text_box span{
	-moz-transition:all .2s linear .1s;
	-ms-transition:all .2s linear .1s;
	-o-transition:all .2s linear .1s;
	-webkit-transition:all .2s linear .1s;
	transition:all .2s linear .1s;
}
#info .text_box span{
  background:#fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 0 0 5px #f2f2f2;
}
#info .text_box:hover span{
	box-shadow: inset 0 0 0 5px #fff;
	border:3px solid #73ae20;
	background:#73ae20;
	color:#fff;
}
#info .text_box span.fill{
  background:#73ae20;
  border: 3px solid #73ae20;
  box-shadow: inset 0 0 0 3px #fff;
  color:#fff;
}
#info .text_box:hover span.fill{
	box-shadow: inset 0 0 0 5px #fff;
	border:3px solid #1C9F93;
	background:#1C9F93;
}
#info .text_box p{ margin-bottom:0; }
#info .desc_box h2{ font-weight:100;}
#info .desc_box .readmore{ color:#585858;}
#info .desc_box .readmore:hover, #info .desc_box .readmore:focus{
	color:#ff9f1c;
}
.info .icon_box.blue i{
	color: #73ae20;
}
.info .icon_box i {
  color: #00abc9;
  display: inline-block;
  font-size: 40px;
}
.info .icon_box{
	border-bottom:1px solid #e9e9e9;
	border-left:1px solid #e9e9e9;
	padding-bottom:30px;
	padding-top:30px;
}
.info .icon_box:nth-child(3n+1){
	border-left:none;
}
.info .icon_box:nth-child(n+4), .info .icon_box:nth-child(n+7){
	border-bottom:none;
}
.info .icon_box:hover{ background:#73ae20; }
.info .icon_box.blue:hover{ background:#00abc9; }
.info .icon_box:hover p, .info .icon_box:hover i, .info .icon_box:hover{
	color:#fff;
}
.info .icon_box:hover, .text_box:hover{
	cursor:pointer;
}

/* ----------------- Iconic Text ends  ----------------- */




/* ----------------- OWL Slider  ----------------- */
#people_slider .item, #news_slider .item , #logo_slider .item, #team_slider .item{
	margin:0 15px;
}
#logo_slider .item{
	border:1px solid #c7c7c7;
	display:block;
	text-align:center;
}
#logo_slider .item > img{
	display:inline-block;
	width:auto;
}
#people_slider .owl-theme .owl-controls,  #news_slider .owl-theme .owl-controls, #logo_slider .owl-theme .owl-controls{
  margin-top: 40px;
}
.owl-controls .owl-page span{
	margin:2px;
	background:#cbcbcb;
	opacity:1;
}
.owl-controls .owl-page span:hover, .owl-controls .owl-page.active span{
	background:#73ae20;
}
.layout_second .owl-controls .owl-page span:hover, .layout_second .owl-controls .owl-page.active span{
	background:#F89714 !important;
}
.layout_second .btn-border:before{
  background:#F89714;
  border-color:#F89714 !important;
}
#plan_slider{ position:relative;}
#plan_slider .item{
	padding-left:15px;
	padding-right:15px;
}
#plan_slider .item, #plan_slider .item h2, #plan_slider .item p, 
#plan_slider .item span, #plan_slider .item a{
	-moz-transform:scale none !important;
	-ms-transform:scale none !important;
	-o-transform:scale none !important;
	-webkit-transform:scale none !important;
	transform:sscale none !important;
}
#plan_slider .item p{
	margin-right:15px;
}

#plan_slider .owl-theme .owl-controls {
  margin-top:0 !important;
}
#plan_slider .owl-pagination {
  position: absolute;
  right:0;
  top: 50%;
  display: block;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
#plan_slider .owl-controls .owl-page{
	display:table;
	
}
#plan_slider .item span.count{
	height:40px;
	width:40px;
	text-align:center;
	color:#fff;
	font-size:24px;
	display:inline-block;
	border-radius:37px;
	line-height: 37px;
}
#team_slider .owl-prev, #team_slider .owl-next{
	position:absolute;
	top:50%;
	background:transparent;
	color:#0f0f0f;
	margin-top:-80px;
}
#team_slider .owl-prev{
	left:-30px;
}
#team_slider .owl-next{
	right:-30px;
}
#team_slider .owl-prev:hover, #team_slider .owl-next:hover{
	color:#39521a;
}
#service_slider{
	background:#f2f2f2;
}
#service_slider .item{
	padding:25px 15px;
}
#service_slider .owl-controls .owl-page{
	margin-bottom:25px;
}
#service_slider h4{
	font-size:18px;
}
.shadow {
  -moz-box-shadow:5px 5px 0px 0 #cbcbcb;
  -webkit-box-shadow:5px 5px 0px 0 #cbcbcb;
  box-shadow:5px 5px 0px 0 #cbcbcb;
}

/* ----------------- OWL Slider ends  ----------------- */



/* ----------------- Good Plan ----------------- */
#plans{}
#plans .content_left{
}
#plans .content_right{
	background:#fff;
	padding:50px 20px;
	top:50px;
	position:relative;
	-moz-transform:scaleX(1.09) translateX(-50px);
	-ms-transform:scaleX(1.09) translateX(-50px);
	-o-transform:scaleX(1.09) translateX(-50px);
	-webkit-transform:scaleX(1.09) translateX(-50px);
	transform:scaleX(1.09) translateX(-50px);
}
/* ----------------- Good Plan ends ----------------- */



/* ----------------- Facts & Grid ----------------- */
#facts{}
.number-counters .counters-item {
  display: inline-block;
}
#facts .number-counters .counters-item{
  padding: 0 30px;
}
#about .number-counters .counters-item{
  padding: 0 15px;
}
#facts .number-counters .counters-item p.data, #about .number-counters .counters-item p.data{
	margin:0;
	line-height:1;
	color:#0f0f0f;
}
#facts .number-counters .counters-item p.data > strong, #about .number-counters .counters-item p.data > strong{
	font-weight:300;
}
#facts .number-counters .counters-item p.data > strong{
	font-size:90px;
}
#about .number-counters .counters-item p.data > strong{
	font-size:75px;
}
#facts .number-counters .counters-item p.data > sub{
	font-size:50px;
}
#about .number-counters .counters-item p.data > sub{
	font-size:40px;
}
#facts .number-counters .counters-item p.data > sub, #about .number-counters .counters-item p.data > sub{
	font-weight:300;
	bottom:0;
}
/* ----------------- Facts & Grid ----------------- */





/* ----------------- Vides  ----------------- */
#bg-video{
	background:url(../images/video.jpg) no-repeat;
	background-size:cover;
	background-position:center center;
	color:#fff;
	position:relative;
	background-color:#2E2E30;
}
#bg-video .right_content p{ color:#fff; }
.video > img{
	position:relative;
	height:100%;
	width:100%;
}
.video .video-btn{
	display:inline-block;
	font-size:50px;
	color:#fff;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
#html5-close {
  margin-right: 0 !important;
  margin-top: -2px !important;
}
/* ----------------- Vides Ends ----------------- */



/* ----------------- Our Team  ----------------- */
#team{}
.team_wrap .image { box-shadow:10px 10px 0px #f7f7f7;}
.layout_third .team_wrap .image{ box-shadow: none;}
.team_wrap .team_overlay{
	position:absolute;
	bottom:0;
	width:100%;
	background:rgba(255,255,255,.9);
	padding:20px 15px;
	height:90px;
}
.team_wrap:hover .team_overlay{ height:150px;}
 .team_overlay .social_icon{ display:none;}
.team_wrap:hover .team_overlay .social_icon{ display:block;}
.team_wrap .image .list_content{
  background:#0f0f0f;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -moz-transform: perspective(400px) rotateY(90deg);
  -ms-transform: perspective(400px) rotateY(90deg);
  -o-transform: perspective(400px) rotateY(90deg);
  -webkit-transform: perspective(400px) rotateY(90deg);
  transform: perspective(400px) rotateY(90deg);
  -moz-transform-origin: left center 0;
  -ms-transform-origin: left center 0;
  -o-transform-origin: left center 0;
  -webkit-transform-origin: left center 0;
  transform-origin: left center 0;
  width:60px;
}
.list_content .team_social{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align:center;
  margin-left:14px;
}
.list_content .team_social li a{
	height:30px;
	width:30px;
	border-radius:50%;
	text-align:center;
	border:1px solid #5c5c5c;
	color:#fff;
	display:block;
	line-height:30px;
	margin:5px 0;
}
.list_content .team_social li:first-child a:hover{
	background:#3b5998;
	border-color:#3b5998;
}
.list_content .team_social li:nth-child(2) a:hover{
	background:#00aced;
	border-color:#00aced;
}
.list_content .team_social li:nth-child(3) a:hover{
	background:#517fa4;
	border-color:#517fa4;
}
.image:hover .list_content{
  transform: perspective(400px) rotateY(0deg);
}
.team_wrap span{
	font-size:14px;
	color:#888888;
	display:inline-table;
}
.team_wrap:hover h3, .news:hover h4{
	color:#7ac832;
}
.layout_second .team_wrap:hover h3, .layout_second .news:hover h4{
	color:#FF9F1C;
}
/* ----------------- Our Team Ends  ----------------- */




/* ----------------- Parallax Backgrounds ----------------- */
.parallax_one{
	background:url(../images/parallax-one.jpg) no-repeat;
}
.parallax_one, .parallax_two, .parallax_news, .parallax_bg_slider, .page_header{
	background-size:cover;
	background-attachment:fixed;
	background-position:center center;
}
.parallax_one .bg_call{
	background:#fff;
	padding:45px 15px;
}
.parallax_bg_slider{
	background:url(../images/parallax-bg-slider.jpg) no-repeat;
}
.parallax_news{
	background:url(../images/parallax-news.jpg) no-repeat;
}
/* ----------------- Parallax Backgrounds ends ----------------- */



/* ----------------- Forms ----------------- */
form .row{
	margin-left:-5px;
	margin-right:-5px;
}
form .col-sm-12, form .col-sm-6, form .col-sm-3, form .col-sm-4, form .col-sm-8, form .col-sm-7, form .col-sm-5{
	padding-left:5px;
	padding-right:5px;
}
form .form-group { margin-bottom: 10px;}
form.callus .form-control{}
form.callus textarea{
	min-height:160px;
	width:100%;
}
form.callus .input-group{
	position:relative;
	width:100%;
}
form.callus .input-group-addon{
	background:transparent;
	color:#9b9b9b;
	position:absolute;
	z-index:11;
	right:12px;
	top:6px;
	border:none;
	border-left:1px solid #c7c7c7;
}
form.callus .input-group .form-icon {
  margin-top: 10px;
  position: absolute;
  right: 12px;
  z-index: 2;
}
form .form-control, .callus .select{
	border:1px solid #c7c7c7;
	height:42px;
	color:#606060;
}
.callus .select {
    border: 1px solid #c7c7c7;
    overflow: hidden; 
    width:100%;
    position: relative;
    display: block;
}
.callus select{       
    height:42px;
    padding: 5px;
    border:none;       
    width:100%;
	 color:#606060;
   -webkit-appearance: none;
    -moz-appearance: none;
	 -o-appearance: none;
    appearance: none;
}
.callus .select:after {
    content:"\f0d7";
    font-family: FontAwesome;
    color:#606060;
	 font-size:16px;
    padding:9px 8px;
	 padding-right:0;
    position: absolute; right: 0; top: 0;
    background:transparent;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;      
    pointer-events: none;
    box-sizing: border-box;   
}
button{ border:none;}

/* ----------------- Forms ends ----------------- */



/* ----------------- Testinomials ----------------- */
#people .people_wrap{
	background:#fff;
	border:1px solid #e3e3e3;
	position:relative;
	padding:40px 20px;
	text-align:center;
	margin-top:30px;
	margin-bottom:30px;
	-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.22);
   -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.22);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.22);
}
#people .people_wrap i{
  position: absolute;
  height:25px;
  width:50px;
  top:-25px;
  margin-left:-25px;
  line-height:2;
  font-size:20px;
  color:#e1e1e1;
  border-top-left-radius:30px;
  border-top-right-radius:30px;
  border:1px solid #e3e3e3;
  border-bottom:none;
  z-index:11;
  background:#fff;
}
#people .people_wrap:after, #people .people_wrap:before {
	border: solid transparent;
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
}
#people .people_wrap.left:after, #people .people_wrap.left:before {
	left:15px;
}
#people .people_wrap.right:after, #people .people_wrap.right:before {
	right:15px;
}
#people .people_wrap:after {
	border-width:11px;
	border-left-color:transparent;
	border-right-color:transparent;
	border-top-color:#fff;
	bottom:-21px;
}
#people .people_wrap:before {
	border-width: 13px;
	border-left-color:transparent;
	border-right-color:transparent;
	border-top-color:#e3e3e3;
	bottom:-28px;
}
.testinomial_pic{ display:inline-block; }
.testinomial_pic .pic{ height:56px;}
.testinomial_pic .pic, .testinomial_pic .testinomial_body{
	display:table-cell;
}
.testinomial_pic .testinomial_body{
	vertical-align:middle;
	  padding: 0 10px;
}
.testinomial_pic span{ font-size:14px;}
.testinomial_pic span.post_img{
	color:#616161;
	display:block;
}
/*Testinomial Page*/
.testinomial_wrap{}
.testinomial_wrap .testinomial_text{
	padding:15px;
	position:relative;
	border:1px solid #e3e3e3;
}
.testinomial_wrap .testinomial_text:after , 
.testinomial_wrap .testinomial_text:before{
	content: "";
	width: 0;
	height: 0;
	position: absolute;
}
.testinomial_wrap .testinomial_text:after {
  border-right: 30px solid transparent;
  border-top: 25px solid #e3e3e3;
  bottom: -25px;
  height: 0;
  left: 20px;
}
.testinomial_wrap .testinomial_text:before {
  border-right: 26px solid transparent;
  border-top: #fff solid 22px;
  bottom: -21px;
  left: 22px;
  z-index: 1;
}
.testinomial_wrap .testinomial_text > .quote{
	display:inline-block;
	width:auto;
	margin-bottom:15px;
}
.testinomial_wrap .testinomial_pic {
  display: inline-block;
  margin-top: 30px;
  width: 100%;
}
.testinomial_wrap .testinomial_pic > img{ 
	width:60px;
	float:left;
	margin-right:10px;
	display:inline-block;
	
}
.testinomial_wrap .testinomial_pic span{ display:block;}
.testinomial_wrap .testinomial_pic span.color{
	margin-top:9px;
	font-weight:bold;
}
.testinomial_wrap .testinomial_pic span.post_img{font-size:14px;}
/* ----------------- What People Saying ----------------- */




/* ----------------- News & Thoughts / Blog ----------------- */
#news_slider{}
.news{background:#fff;}
.layout_third .news{
	border-bottom:3px solid #b7b7b7;
}
.news .news_text{
	padding:20px 15px;
}
.news ul.news_crumb li{
	display:inline-block;
}
.news ul.news_crumb > li + li:before{
	 color: #353535;
    content: "|";
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
}
.news ul.news_crumb li a{
	color:#353535;
	font-size:12px;
	text-transform:uppercase;
	font-weight:bold;
}
.news ul.news_crumb li a:hover, .news ul.news_crumb li a:focus, .news a:hover, .news a:focus, 
.blog_item:hover a, .blog_item:focus a{
	color:#73ae20;
}
.layout_second .news ul.news_crumb li a:hover, .layout_second .news ul.news_crumb li a:focus, 
.layout_second .news a:hover, .layout_second .news a:focus{
	color:#F89714;
}
.blog_item{}
.blog_item .media-left{
  padding-right: 20px;
}
.blog_item .blog_date > li + li:before{
	content:'|';
	padding:0 3px;
}
.blog_item .blog_date li{
	display:inline-block;
	color:#828282;
	font-size:12px;
}
.blog_item .continue{
	display:inline-block;
	font-size:13px;
	text-decoration:underline;
	color:#888888;
}
.blog_item  .find{
	border-bottom:1px solid #b7b7b7;
	padding-bottom:10px;
}
.blog_item  .find span{
	display:inline-block;
	font-size:12px;
}
.blog_item  .find span a{
	color:#019bb6;
	padding:0 3px;
}
.blog_item .blog_rep{
	border-bottom:1px solid #b7b7b7;
	padding:15px 0;
}
.blog_item .blog_rep h4{
	font-size:18px;
}
.blog_item .blog_rep h4 small{
	font-size:12px;
}

/* ----------------- News & Thoughts ends ----------------- */



/* ----------------- Page Header ----------------- */
.page_header{
	background:url(../images/page-header.jpg) no-repeat;
	padding:110px 0;
}
.page_header, .page_header p{ color:#fff;}
.page_header p{ margin-bottom:5px;}
.page_header h1{
	font-size:42px;
	font-weight:bolder;
}
.page_linker{
	width:100%;
	padding:15px 0;
	box-shadow:0 4px 4px -4px rgba(0,0,0,.33);
}
.page_linker .breadcrumb{
	margin:0;
	padding:0;
	background:transparent;
	text-align:left;
}
.page_linker .breadcrumb li{
	font-size:12px;
	color:#222222;
}
.page_linker .breadcrumb li i {
  font-size: 15px;
  margin-right: 3px;
  vertical-align: top;
}
.page_linker .breadcrumb li i {
  font-size: 15px;
  margin-right: 3px;
  vertical-align: top;
}
.page_linker .breadcrumb li a:hover, .page_linker .breadcrumb li a:focus, .page_linker .breadcrumb li.active{
	color:#73ae20;
}
/* ----------------- Page Header ends ----------------- */




/* ----------------- About Us ----------------- */
#about{}
ul.check li{
	display:block;
	margin-bottom:10px;
	margin-left:20px;
	color:#888888;
}
ul.check li > i{
	display:inline-block;
	vertical-align:middle;
	font-size:20px;
	color:#73ae20;
	margin-left:-20px;
}
/* ----------------- About Us ends ----------------- */




/* ----------------- Layout Wraps ----------------- */
#quality{
	background:#121416;
}
#quality h2, #quality p{ color:#fff;
}
.quality_wrap, #quality  .quality_wrap .left{
	position: relative;
}
#quality .quality_wrap .left {
  bottom: -30px;
  height: 100%;
  transform: translate(40px) scaleX(1.15);
  width: 100%;
  z-index: 2;
}
#quality .left, #quality .left > img{
	position:relative;
	width:100%;
}
#quality .left > img{
}
#quality .right{
	position:relative;
	background:#fff;
	padding:35px 15px 20px 75px;
}
#quality .right .media-object{
  height:66px;
  width:66px;
  display:inline-block;
  border:1px solid #73ae20;
  overflow:hidden;
  border-radius:68px;
  font-size:24px;
  line-height:66px;
  text-align:center;
  position: relative;
}
#quality .right .media-object span{
	display:block;
}
.media:hover .media-object{
	background:#73ae20;
	border-color:#73ae20;
	color:#fff;
}
.media:hover .media-object span, .contact .address:hover span i{
	-moz-animation-duration: 0.5s;
	-ms-animation-duration: 0.5s;
	-o-animation-duration: 0.5s;
	-webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  
  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  animation-name:fadeInUp;
  cursor:pointer;
}
#quality .right .media-body p{
	color:#888888;
}

/* ----------------- Layout Wraps Ends ----------------- */



/* ----------------- We Do ----------------- */
#wedo .do_media{
}

/* ----------------- We Do Ends ----------------- */




/* ----------------- Services ----------------- */
.services{}
.services ul.tabs {
	background:#f2f2f2;
	padding:10px;
}
.services ul.tabs li{
	display:block;
	background:#fff;
	color:#464646;
	font-size:14px;
	padding:15px;
	cursor:pointer;
	position: relative;
	border-bottom:#dbdbdb solid 1px;
}
.services ul.tabs li:last-child{
	border-bottom:none;
}
.services ul.tabs li:after{
	content:'\f105';
	font-family:'FontAwesome';
	display:inline-table;
	vertical-align:middle;
	float:right;
}
.services  ul.tabs li:hover, .services ul.tabs li:focus, .services ul.tabs li.active{
	background:#73ae20;
	color:#fff;
}
.services ul.tabs,.services .tab_container{
	 display:block;
}
.services .services_content{}
.services_content .items > li > a{
  background:#fff;
  color: #0f0f0f;
  display: block;
  margin-bottom: 10px;
  padding:15px 10px 15px 55px;
  position:relative;
  border:1px solid #d1d1d1;
}
.services_content .items > li > a:hover, .services_content .items > li > a.expanded{
	background:#002e5b;
	color:#fff;
}
.services_content .items > li > a:after{
  background: #fff;
  content: "\f105";
  display: inline-block;
  font-family: "FontAwesome";
  font-size: 20px;
  height: 100%;
  left: 0;
  line-height: 30px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 0;
  width:40px;
  border-right:1px solid #d1d1d1;
}
.services_content .items > li > a.expanded:after,
.services_content .items > li > a:hover::after{
	background: #73ae20;
}

.services_content .sub-items{
  display: none;
  padding:20px 15px;
  border:1px solid #d1d1d1;
  border-top:none;
  margin-bottom:10px;
}
.services_content .sub-items p{ margin:0; }
.services .tab_container{
	padding:0;
}
.services_content form.callus{
	background:#f2f2f2;
	padding:20px 15px;
}
/* if accordion mode */
.services .tab_drawer_heading.d_active{ position: relative;}
.services .tab_drawer_heading{
  background-color: #dcdcdc;
  padding:20px 15px;
  margin-bottom: 10px;
  font-size:14px;
  display: none;
  position:relative;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.services .tab_drawer_heading:after{
  content: "\f107";
  display: inline-block;
  right:20px;
  position:absolute;
  font-family:'FontAwesome';
}

.services_content .items > li > a.expanded{
  margin-bottom:0;
}
.services_content .items > li > a.expanded:after,
.services .tab_drawer_heading.d_active:after{
  content: "\f106";
}

/* ----------------- Services Ends ----------------- */



/* ----------------- Projects ----------------- */
.project_cap:hover h3 > a{
	color:#73ae20;
}
#project #project-filter{
	background:#2e363a;
	padding:12px 0;
	border-radius:45px;
}
#project-filter .cbp-filter-item{
	margin:0 10px;
	padding:0;
	padding-bottom:5px;
	font-size:14px;
	color:#ffffff;
	font-weight:600;
	position:relative;
}
#project-filter .cbp-filter-item:after, #project-filter .cbp-filter-item.cbp-filter-item-active:after{
	content:'';
	position:absolute;
	bottom:0;
	right:0;
	background:#73ae20;
	height:3px;
	width:100%;
}
#project-filter .cbp-filter-item:after{
	-moz-transform:scaleX(0);
	-ms-transform:scaleX(0);
	-o-transform:scaleX(0);
	-webkit-transform:scaleX(0);
	transform:scaleX(0);
}
#project-filter .cbp-filter-item:hover::after, #project-filter .cbp-filter-item.cbp-filter-item-active:after{
	-moz-transform:scaleX(1);
	-ms-transform:scaleX(1);
	-o-transform:scaleX(1);
	-webkit-transform:scaleX(1);
	transform:scaleX(1);
}
#project-filter .cbp-filter-item:hover, #project-filter .cbp-filter-item.cbp-filter-item-active{
	color:#73ae20;
}
#project-filter > .cbp-filter-item + .cbp-filter-item:before{
	content:'/';
	padding:0 3px;
}
#project .project_table tr > td{
	border:none;
	color:#888;
}
#project .project_table tr > td strong{
	color:#0f0f0f;
}
#project .project_nav{
	border-bottom:1px solid #d7dadd;
	border-top:1px solid #d7dadd;
	padding:10px 0;
	position:relative;
	min-height:72px;
	height:auto;
}
#project .project_nav span{
	padding:0 5px;
	font-weight:bold;
}
#project .project_nav span:hover, #project .project_nav a:hover{
	color:#73ae20;
}
#project .project_nav .previous, #project .project_nav .next{
	position: absolute;
	display: inline-block;
}
#project .project_nav .previous {
  left:0;
}
#project .project_nav .next{
	right:0;
}
#project .project_nav a.grid_icon{
  background: #0f0f0f;
  color: #fff;
  display: inline-block;
  font-size:32px;
  left: 50%;
  padding:7px 10px;
  line-height:1;
  position: absolute;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#project .project_nav a.grid_icon:hover, #project .project_nav a.grid_icon:focus{
	background:#73ae20;
}

/* ----------------- Projects Ends ----------------- */


/* ----------------- Faq's ----------------- */
#faq .accordion_title > a {
	padding:15px 8px;
	font-size:20px;
	font-weight:bold;
	position:relative;
}
#faq .accordion_title > a.active, #faq .accordion_title > a:hover, #faq .accordion_title > a:focus{
  background: #019bb6;
  color:#fff;
  margin-bottom:10px;
  border-color:#019bb6;
}
#faq .accordion_title > a.active i, #faq .accordion_title > a:hover i, #faq .accordion_title > a:focus i {
  color: #019bb6;
  background:#fff;
}
#faq .accordion_title > a i {
	padding:3px 4px 2px 4px;
	background:#019bb6;
	border-radius:1px;
	color:#fff;
	margin:0;
	top:50%;
	position:absolute;
	transform:translateY(-50%);
	right:10px;
}
.content { border:1px solid #d9d9d9;}
/* ----------------- Faq's ends ----------------- */



/* ----------------- Comming Soon ----------------- */
#comming_soon{
	position:fixed;
	top:0;
	height:100%;
	width:100%;
}
.comming_center {
  display: inline-block;
  left: 50%;
  position: absolute;
  top: 50%;
  width:99%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.comming_center .input-group-btn .btn-coming{
	height:inherit;
	width:100%;
	padding:10px 30px;
	border:transparent;
	background:#73ae20;
	color:#fff;
	font-weight:bold;
}
.comming_center .input-group-btn{
	height:42px;
	vertical-align:top;
	color:#fff;
}
#clockdiv  .count-inner{
	display: inline-block;
	margin:0 5px;
}
#clockdiv > .count-inner + .count-inner{
	border-left:1px solid #0f0f0f;
}
#clockdiv .count-inner span{
	padding:0 15px;
	font-size:56px;
	color: #019bb6;
	display: inline-block;
}
.smalltext{
	font-size: 15px;
}
/* ----------------- Comming Soon ends ----------------- */



/* ----------------- 404 ----------------- */
#error{
	position:relative;
}
#error .error_inner {
  left: 50%;
  position: relative;
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}
#error .content{
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	display:block;
	border:none;
}
#error .content h2{
	font-size:55px;
	line-height:1;
}
/* ----------------- 404 ends ----------------- */







/* ----------------- Contact Info ----------------- */
.bg_contact{
	background-size:cover !important;
	position:relative;
	z-index:10;
	top:38px;
}
.bg_contact.bg_one{
	background:url(../images/bg-contact.jpg) no-repeat;
	background-position:center right;
}
.bg_contact.bg_two{
	background:url(../images/bg-contact2.jpg) no-repeat;
	background-position:center right;
}
.contact_inner{
	margin:20px 0;
	color:#fff;
}
.contact_inner i {
  display: inline-table;
  float: left;
  font-size: 27px;
  width: 30px;
  margin-top: 2px;
}
.contact_inner h5, .contact_inner a{
	margin-left:30px;
}
.contact_inner h5{
  font-size:15px;
}
.contact_inner a{
	display:block;
}
/*Map*/
#map{
  display: block;
  width: 100%;
  height:430px;
}
.overlay_map{
  display:block;
  text-align:center;
  color:#fff;
  font-size:60px;
  line-height:80px;
  opacity:0.8;
  background:#8ac832;
  border:solid 1px #8ac832;
  border-radius:2px;
  padding:0 4px;
}
.overlay_arrow{
  left:50%;
  margin-left:-10px;
  width:0;
  height:0;
  position:absolute;
}
.overlay_arrow.above{
  bottom:-10px;
  border-left:10px solid transparent;
  border-right:10px solid transparent;
  border-top:10px solid #8ac832;
}
.overlay_arrow.below{
  top:-10px;
  border-left:10px solid transparent;
  border-right:10px solid transparent;
  border-bottom:10px solid #8ac832;
}

.contact .address {
  margin-top:20px;
  overflow: hidden;
}
.contact .address h4{
	font-weight:600;
}
.contact .address p{
	margin:0;
}
.contact .address span, .contact .address .text{
	display:table-cell;
}
.contact .address span{
	background:#019bb6;
	border-radius:50%;
	height:68px;
	width:68px;
	border:1px solid #019bb6;
	text-align:center;
	color:#fff;
}
.contact .address span i{
	font-size:30px;
	line-height:68px;
}
.contact .address:hover span{
	background:#fff;
	color:#019bb6;
}
.contact .address .text{
	vertical-align:middle;
	padding-left:10px;
}

/* ----------------- Contact Info Ends----------------- */



/* ----------------- Footer ----------------- */
.footer_top, .footer_small{ background:#121416;}
.footer_panel .footer_logo{ display:inline-block; }
.footer_top .footer_panel, .footer_panel ul.social_icon li a, .footer_small ul.social_icon li a{ color:#fff; }
.footer_top .footer_panel .media-body span{
	display:block;
	font-size:12px;
	color:#7f7f7f;
}
.footer_top .footer_panel .media-body span > i{ margin-right:3px;}
.footer_top .footer_panel .media-body a:hover, .footer_top .footer_panel .media-body a:focus{
	color:#73ae20;
	text-decoration:underline;
}
.footer_top.layout_second .footer_panel .media-body a:hover, 
.footer_top.layout_second .footer_panel .media-body a:focus{
	color:#ff9f1c;
}
.copyright{ background:#0a0a0b; }
.copyright p{
	color:#a6a6a6;
	margin:20px 0;
}
.copyright.layout_second p a:hover, .copyright.layout_second p:focus{ color:#ef233c;}

.footer_small{
	padding:30px 0;
}
.footer_small .breadcrumb{
	background:transparent;
	padding:0;
}
.footer_small .breadcrumb li{
	display:inline-block;
}




/*Responsive Layouts*/
@media screen and (max-width: 1024px){
.parallax_one, .parallax_two, #bg-video, .parallax_news, .parallax_bg_slider, .page_header{
	 background-position:center center !important;
}
#about .number-counters .counters-item p.data > strong{
  font-size: 40px;
}
#about .number-counters .counters-item p.data > sub{
  font-size: 26px;
}
}

@media screen and (max-width: 992px){
 h2{
	font-size:28px;
}
h3{
	font-size:20px;
}
h4{
	font-size:18px;
}
.topbar {
	width:100%;
	position:relative !important;
	right:0 !important;
}
.attr-nav, .layout_second .attr-nav, #layout_bottom .attr-nav{
	 left: 50%;
	 position: absolute;
	 right: auto;
	 top: auto !important;
	 -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
	 transform: translateX(-50%);
	 margin-top: 12px;
}
nav.navbar.bootsnav .navbar-brand{
	display: inline-block;
	padding:10px 0;
}
nav.navbar.bootsnav .navbar-brand > img, .footer_panel .footer_logo > img{
	width:75%;
}
header.layout_fifth nav.bootsnav.brand-center .navbar-brand {
  float: left;
}
header.layout_fifth .brand-center.no-background {
  padding-top: 0;
}
nav.navbar.bootsnav ul.nav > li > a {
  font-size:12px;
  padding:10px 0 !important;
  border-color:transparent;
}
nav.navbar.bootsnav ul.nav > li > a.border:before{
	display:none;
}
#quality .quality_wrap .left{
  top:0;
  position:relative;
  -moz-transform:none;
  -ms-transform:none;
  -o-transform:none;
  -webkit-transform:none;
  transform:none;
}
#quality .right {
 padding:35px 15px;
}
.blog_item .media-left .media-object{
	max-width:270px;
}
.page_header{ padding:80px 0;}
#faq .accordion_title > a{
	font-size:14px;
}
}
@media screen and (max-width: 767px){
.layout_first, .layout_sixth{
	top:0;
}
.layout_first{
	position:relative;
}
.topbar, .attr-nav, #rev_slider_second p, .rev_slider p, .tparrows{
	display:none;
}


.#rev_slider.top, .rev_slider_wrapper.top{ margin-top:50px !important;}

/*  Good Plan */
#plans .content_right{
	top:0;
	position:relative;
	-moz-transform:none;
	-ms-transform:none;
	-o-transform:none;
	-webkit-transform:none;
	transform:none;
	margin:0 15px 0px 15px;
}
#facts .number-counters .counters-item,
#about .number-counters .counters-item{
	padding:0 15px;
}
#facts .number-counters .counters-item p.data > strong {
  font-size: 50px;
}
#facts .number-counters .counters-item p.data > sub{
  font-size: 30px;
}
#bg-video .video{
	margin-bottom:30px;
}
.page_header h1 {
  font-size: 30px;
}
.services ul.tabs{
	display:none;
}
.services .tab_drawer_heading{
 	display:block;
}

#map{ height:220px;}



}
@media screen and (max-width: 544px){
#rev_full,  #rev_full.rev_slider{
        height:250px !Important;
        overflow: hidden;
}

	.do_media .media-body, .do_media .media-left, .blog_item .media-left, .blog_item .media-body{
	  display: block;
	}
	.do_media .media-left .media-object, .blog_item .media-left .media-object{
	  width: 100%;
	}
	.do_media .media-body, .blog_item .media-body{
		width:auto;
		padding-top:30px;
	}
	#clockdiv .count-inner span {
		font-size: 30px;
	 }
	 .smalltext {
	 font-size: 12px;
  }

}
@media screen and (max-width: 479px){
	.attr-nav {
		display:none;
  }
}

/* carousel */
#carousel {
	margin-top: 50px;
	margin-bottom: 50px;
	height: 200px;
}

#quote-carousel {
	padding: 0 10px 30px 10px;
	margin-top: 30px;
	text-align:center;
}
/* indicator position */
#quote-carousel .carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
/* indicator color */
#quote-carousel .carousel-indicators li {
	background: #c0c0c0;
}
/* active indicator */
#quote-carousel .carousel-indicators .active {
	background: #333333;
	height:10px;
	width:10px;
	margin-bottom:1px;
}
/* typography */
#carousel h1 {
	text-align:center;
	margin-bottom:-20px !important;
}
#carousel p {
	font-style:italic;
}